@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* banner-sec-start */
.banner-container {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Banner\ Image.png");
    height: 600px;
    width: 1320px;
    margin: 16px auto;
    border-radius: 16px;
}

.banner-container h3 {
    padding-top: 178px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 16px;
    background: linear-gradient(180deg, #000000 0%, rgba(1, 0, 2, 0) 100%);
}

.banner-text {
    margin: auto;


}

.banner-container h1 {
    width: 630px;
    color: white;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    text-align: center;
    font-family: Merriweather;
    padding: 16px 0 177px;
}

/* banner style end*/







/* categorries-sec-start */
.categories-sec {
    background: #FFF;
    width: 100vw;
    height: 735px;
    margin-top: 120px;

}

.categories-sec .off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.scnd-color {
    color: rgb(28, 28, 2);
}

.categories-content h4 {
    padding-top: 48px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sec-title {
    padding-top: 16px;
    padding-bottom: 48px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.categories-content img {
    width: 802.9px;
    height: 500px;
    display: block;
    margin: auto;
}



/* categorries-sec-end */









/* welcome-party-start */

.welcome-party-sec {
    margin: auto;
    width: 1320px;
    height: 600px;
    margin-top: 190px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Vectorrr.png");
    display: flex;
    border-radius: 16px;


}


.welcome-party-sec h1 {
    padding: 126px;
    padding-bottom: 0px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;

}

.welcome-party-sec p {
    padding-top: 26px;
    padding-left: 126px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 800px;
}


.welcome-party-sec button {
    margin-left: 158px;
    margin-top: 48px;
    background: none;
    color: #FFF;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    border: 1px solid rgb(255, 34, 0);
    border-radius: 30px;
    padding: 15px 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.welcome-party-sec button:hover {
    background-color: rgb(255, 34, 0);
    box-shadow: 0px 0px 70px 5px rgb(255, 34, 0);
    border: none;
}

.new-year-img {
    margin: 69px 138px 0 67px;
    height: 152px;
}

/* welcome-party-end */







/* join-now-sec-start */

.join-now-sec {
    width: 1320px;
    height: 482px;
    margin: 120px auto;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

    ;
    text-align: center;
    border-radius: 16px;

}

.join-now-content {
    padding-top: 100px;

}

.join-now-content h2 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.schedule {
    color: #F00;
    text-align: center;
    font-family: Inter;
}

.join-now-content button {
    display: inline-flex;
    padding: 16px 32px;
    margin-top: 48px;
    border: none;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    transition: all 0.3s ease;
}

.join-now-content button:hover {
    box-shadow: 0px 0px 70px 5px rgb(255, 34, 0);
}


/* join-now-sec-end */








/* offer-section-start */


.offer-container {
    margin: auto;
    width: 1320px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-container h2 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.offer-container h1 {
    padding-top: 16px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.offer-container p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 395px;
    padding-top: 22px;
}

.offer-content-2 img {

    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 12px solid #F00;
    padding: 45px;
    transition: all 0.3s ease;
}

.offer-content-2 img:hover {
    box-shadow: 0px 0px 70px 5px rgb(255, 34, 0);

}

.offer-content-3 h1 {
    padding-left: 118px;
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.offer-content-3 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-left: 118px;
}

.offer-content-3 img {
    height: 140px;
    width: 140px;
    margin: 16px 118px;
}



/* offer-section-end */








/* holidays-sale */

.holidays-sale {
    width: 1068px;
    margin: 120px auto;
    text-align: center;
}

.holidays-sale h2 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.holidays-sale h1 {
    color: #070211;
    ;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-top: 16px;
}

.holidays-sale .holidays-color {
    color: #F00;
}

.holidays-sale p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    padding-top: 28px;
    width: 882px;
    margin: auto;
}



/* holidays-sale */








/* bonus-section-start */

.discount-container {
    position: relative;
    width: 300px;
    height: 200px;

}

.image-1 {
    position: absolute;
    top: 50%;
    left: 1400px;
    transform: translate(-50%, -50%);
    width: 429px;
    height: 433px;
    margin-top: 64px;
    transition: all 0.3s ease;

}

.image-2 {
    position: absolute;
    top: 60%;
    left: 1200px;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    margin-top: 64px;
}

.image-3 {
    position: absolute;
    top: 470px;
    left: 955px;
    transform: translate(-50%, -50%);

}


.image-4 {
    position: absolute;
    top: 120%;
    left: 200%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 550px;
    margin-top: 64px;
    overflow: hidden;
    border-radius: 50%;

}

.image-1:hover {
    box-shadow: 0px 0px 70px 5px rgb(255, 34, 0);
}

/* bonus-section-end */


/* portfolio-styles */
.portfolio-container {
    width: 100%;
    margin: 500px auto 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-container img {
    padding: 10px;
    width: 440px;
    height: 400px;
    transition: all 0.3s ease;
}

.portfolio-container img:hover {
    box-shadow: 0px 0px 50px 5px rgb(41, 40, 40);
    border-radius: 30px;
}

.port-title .t1 {
    margin-left: 10px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.port-title .t2 {
    margin: 16px 10px;
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
}

.port-title .t3 {
    margin: 22px 10px 30px;
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}


/* portfolio-styles */


/* Subscribe-section-start */
.subscribe-sec {
    margin: auto;
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding-top: 80px;
}

.subscribe-container img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

.subscribe-container h1 {
    padding-top: 40px;
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
}

.subscribe-container p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin: auto;
}


.subscribe-container {
    text-align: center;
}



.subscribe-input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 50px 0 0 50px;
    margin-top: 48px;
    width: 400px;
    height: 65px;
    margin-bottom: 80px;
}

.subscribe-input,
.placeholder {
    color: rgba(7, 2, 17, 0.30);
    padding-left: 30px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.subscribe-button {
    padding: 24px 56px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    cursor: pointer;
    width: 210px;
    height: 65px;
}

.subscribe-button:hover {
    background: rgb(148, 4, 4);

}


/* Subscribe-section-end */


/* footer */

footer {
    margin-top: 120px;
    width: 100%;
    height: 609px;
    background: #070211;
}

.footer-container {
    display: flex;

}

footer .footer-text1 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    width: 400px;
    height: 60px;
    margin-left: 150px;
    padding-top: 160px;
}


footer .footer-text2 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 600px;
    padding-top: 160px;
}

footer i {
    padding-right: 20px;
}

.footer-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 50px;
    width: 80%;
    margin: auto;
    cursor: pointer;
}

.social-icon {
    width: fit-content;
    height: 150px;
    display: block;
    margin: auto;
    padding: 40px;
}

.social-icon img {
    padding: 15px;
    width: 80px;
    height: 80px;
    transition: all 0.3s ease;
    border-radius: 50%;
    cursor: pointer;
}


.social-icon img:hover {
    box-shadow: 0px 0px 30px 5px rgb(0, 234, 255);
    ;
    border-radius: 50%;
}

.icon-outline {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    width: 80%;
    margin: auto;
}

.copy-right {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}